.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 2rem;
    .form-group{
        display: grid;
        grid-template-columns: 1fr,1fr;
        grid-template-rows: 1fr;
        gap:1rem;
        width: 100%;
        margin-bottom: 1rem;
        input{
            max-width: 6ch;
        }
        label{
            text-align: right;
        }
        label + div, input[name="rounds"]{
            grid-column: 2;
            grid-row: 1;

        }
        label, span{
            grid-column: 1;
            grid-row: 1;
        }
        span{
            margin-right: .5rem;
        }
    }
}


// button[type="submit"] {
//     background-image: linear-gradient(to right, var(--bg-3) 0%, var(--bg-4) 100%);
//     padding: 1rem 2rem;
//     text-align: center;
//     transition: 0.5s;
//     color: var(--color-3);
//     background-size: 150% auto;
//     box-shadow: 0 0 3px #eeeeee8c;
//     border-radius: 5px;
//     display: block;
//     margin:auto;
//     border:none;
//  }

//  button[type="submit"]:hover {
//    background-position: right center; /* change the direction of the change here */
//    color: var(--color-2);
//    text-decoration: none;
//  }
