.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 2rem;
    .form-group{
        display: grid;
        grid-template-columns: 1fr,1fr;
        grid-template-rows: 1fr;
        gap:1rem;
        width: 100%;
        margin-bottom: 1rem;
        input{
            max-width: 6ch;
        }
        label{
            text-align: right;
        }
        label + div, input[name="rounds"]{
            grid-column: 2;
            grid-row: 1;

        }
        label, span{
            grid-column: 1;
            grid-row: 1;
        }
        span{
            margin-right: .5rem;
        }
    }
}
