
<em *ngIf="!formChoiceExercises.valid && isFormTouched" class="text-error"> * Au moins un exercice doit être sélectionné</em>
<form class="form-choice-exercises" [formGroup]="formChoiceExercises" (ngSubmit)="saveChoiceExercises(formChoiceExercises?.value)">
    
    <div *ngFor="let exercice of exercises;let index = index">
        <input type="checkbox" [id]="'exercise_'+index"  [value]="exercice.value" (change)="onCheckboxChange($event)"/>
        <label [for]="'exercise_'+index"><img [src]="exercice.url" /></label>
    </div>
    <button [disabled]="formChoiceExercises?.invalid" mat-flat-button color="primary" matStepperNext type="submit">Confirmer</button>
</form>
