<section class="container-timer" [hidden]="timeFirstInterval > 0 && isStarted === true || isFinished === true || !isStarted">
    <div class="title">
        <h2>{{period}}</h2>
        <h3>{{timeLeft |date:'mm:ss'}}</h3>
    </div>
    <div class="flex">
        <div>
            <label>Temps passé</label>
            <p>{{timeSpent|date:'mm:ss'}}</p>
        </div>
        <div>
            <label>Rounds</label>
            <p>{{currentRound}}/{{totalRounds}}</p>
        </div>
        <div>
            <label>Temps restant</label>
            <p>{{totalTimeLeft|date:'mm:ss'}}</p>
        </div>
    </div>
    <div class="btn-flex">
        <img *ngIf="currentExercise" [src]="currentExercise.url"/>
    </div>
</section>
<section class="container-timer-interval" *ngIf="timeFirstInterval > 0 && isStarted === true">
    <h2 class="first-interval">{{timeFirstInterval}}</h2>
</section>
<section class="container-timer-interval" *ngIf="isFinished" >
    <h2 class="first-interval">Fin</h2>   
</section>
<div class="btn-flex">
    <button  mat-flat-button color="primary" *ngIf="!isStarted || isPaused" (click)="startTimer()">Démarrer</button>
    <button  mat-flat-button  color="primary" *ngIf="isStarted && !isPaused && timeFirstInterval == 0 " (click)="pauseTimer()">Pause</button>
    <button  mat-stroked-button color="primary" *ngIf="isStarted && timeFirstInterval == 0" (click)="clearTimer()" matStepperPrevious>Effacer</button>
</div>