<main>
    <ul>
        <li>TODO</li>
        <li>Ajouter un chemin de fer</li>
        <li>Etape 1 : Choisir un ou plusieurs exercices</li>
        <li>Etape 2 : Choisir l'ordre</li>
        <li>Etape 3 : Paramètres rounds
            <ul>
                <li>aperçu des exo dans l'ordre</li>
                <li>minimum de round == nb exercices</li>
            </ul>
        </li>
        <li>Etape 4 : démarrage timer</li>
    </ul>
    <ul>
        <li>Ajouter Material</li>
        <li>Faire quelques tests unitaires</li>
    </ul>
    <app-timer (startEvent)="startEvent($event)"></app-timer>
    <app-parameters [isStarted]="isStarted"></app-parameters>
</main>
