<main>
    <h1>Hiit Sport Application</h1>
    <mat-stepper orientation="vertical" #stepper linear="true">
        
        <mat-step [completed]="exercisesChoiceComponent?.isCompleted || undefined">
            <ng-template matStepLabel>Choisis le(s) exercice(s) souhaité(s)</ng-template>
            <app-exercises-choice #ExercisesChoiceComponent [exercises]="exercises" (selectedExercises)="saveSelectedExercises($event)"></app-exercises-choice>
        </mat-step>
        
        <mat-step>
            <ng-template matStepLabel>Place-les dans l'ordre que tu souhaites</ng-template>
            <app-exercises-drag-drop [selectedExercises]="selectedExercises"  (selectedExercisesChange)="onSelectedExercisesChange($event)"></app-exercises-drag-drop>
        </mat-step>
        
        <mat-step [stepControl] = "formParameter">
            <ng-template matStepLabel>Définis les paramètres de la séance</ng-template>
            <app-parameters #Parameters></app-parameters>
        </mat-step>
        
        <mat-step>
            <ng-template matStepLabel>Go</ng-template>
            <app-timer (startEvent)="isStarted = $event"></app-timer>
        </mat-step>

    </mat-stepper>
</main>
